<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Here at Moviso Academy, we strive to provide the highest quality of professional training in real estate, small business development, and business-related certificate education. To accomplish this, our resources are directed toward achieving the following specific objectives that support each educational program.</p>
        </div>
        <div class="col-6">
            <ul>
                <li>Assisting students in developing high-level professional and business communication skills.</li>
                <li>Offering certificate courses in a variety of business-related areas that are relevant to the market place and supports the diploma programs.</li>
                <li>Motivating students toward on-going personal development, thereby increasing employment potential, competence, and mobility.</li>
            </ul>
        </div>
    </div>
</div>