<div class="container">
    <div class="row">
        <h2>Edit Adjuster</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/adjusters">Adjusters</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Adjuster</li>
            </ol>
        </nav>
        <hr>
        {{#if alert }}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{alert}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#each rows}}
        <form class="row g-3 needs-validation" method="POST" action="/editadjusters/{{this.id}}" novalidate>
            {{> adjuster-form}}
        </form>
        {{/each}}
    </div>
</div>