<div class="container">
    <div class="row">
        <h2>View and Edit</h2>
        <p><a href="/students">Students</a></p>
        <p><a href="/instructor">Instructor</a></p>
        <p><a href="/staff">Staff</a></p>
        <p><a href="/referrals">Referral</a></p>
        <p><a href="/insurance">Insurance</a></p>
        <p><a href="/adjusters">Adjusters</a></p>
        <p><a href="/invoice">Invoice</a></p>
        <p><a href="/students">Transcripts</a></p>
        <p><a href="/class">Classes</a></p>
        <p><a href="/course">Courses</a></p>
        <p><a href="/campus">Campuses</a></p>
        <p><a href="/students">Payments</a></p>
        <p><a href="/attorney">Attorneys</a></p>
        <p><a href="/programregistration">Program Registration</a></p>
    </div>
</div>